.cart-view {
    background-color: 'lightgrey';
    display: flex;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    align-items: center;
    margin: 20px;

    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.image-picture {
    width: 30%;
    margin-right: 20px;
}

.cart-product-info {
    flex-grow: 1;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkout-box {
    width: 30%;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: 20px;
}

.checkout-box p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.checkout-box Button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-box Button:hover {
    background-color: #555;
}
