.App {
  text-align: center;
  background-color: #282c34;
}
/* Header */
.header-bar {
  background-color: rgb(32, 31, 31);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.search-box {
  display: flex;
  align-items: center;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.profile-icon, .favorite-icon {
  padding: 0px 15px;
  color: #6a0dad;
}

#search-icon {
  padding-right: 10px;
}

#search-bar {
  background-color: white;
  border-radius: 0.5em;
  width: calc(80vw - 100px);
}

/* navigation tab */

.navigation{
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
}

.tabs {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  color: white;
  border-bottom: 1px solid #ffffff;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
}

.tab.selected {
  border-bottom: 3px solid #6a0dad;;
  font-weight: bold;
}

.type-filter {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  color: white;
  border-bottom: 1px solid #ffffff;
}

.type {
  text-align: center;
}

.type.selected {
  border-bottom: 3px solid #6a0dad;;
  font-weight: bold;
}

.type img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Modal */

.inner-add-item-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 25px;
  border-radius: 20px;
  background-color: beige;
}

